{%extends 'cabeza.html'%}
    {%block Evaluacion%}

    <div class="container">
        <div class="titulo"><h3>nombre</h3>Cuestionario acerca el desempeño de la asesoria  </div>
        <form action="#" method="POST">
            <div class="user-details">
                <div class="gender-details">
                    <input type="radio" name="grader" id="dot-1"value="1" required>
                    <input type="radio" name="grader" id="dot-2"value="2" required>
                    <input type="radio" name="grader" id="dot-3"value="3" required>
                    <input type="radio" name="grader" id="dot-4"value="4" required>
                    <span class="gender-titel">¿La asesoria se llevo a corde al horario establecido?</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot uno"></span>
                            <span class="gender">Siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-2">
                            <span class="dot dos"></span>
                            <span class="gender">Casi siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-3">
                            <span class="dot tres"></span>
                            <span class="gender">Algunas veces</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-4">
                            <span class="dot cuatro"></span>
                            <span class="gender">Nunca</span>
                        </label>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="dos" id="dot-5"value="1"required>
                    <input type="radio" name="dos" id="dot-6"value="2"required>
                    <input type="radio" name="dos" id="dot-7"value="3"required>
                    <input type="radio" name="dos" id="dot-8"value="4"required>
                    <span class="gender-titel">¿Se usaron diversas tecnicas para transmitir el conocimiento?</span>
                    <div class="category">
                        <label for="dot-5">
                            <span class="dot n5"></span>
                            <span class="gender">Siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-6">
                            <span class="dot n6"></span>
                            <span class="gender">Casi siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-7">
                            <span class="dot n7"></span>
                            <span class="gender">Algunas veces</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-8">
                            <span class="dot n8"></span>
                            <span class="gender">Nunca</span>
                        </label>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="tres" id="dot-9" value="1"required>
                    <input type="radio" name="tres" id="dot-10"value="2"required>
                    <input type="radio" name="tres" id="dot-11"value="3"required>
                    <input type="radio" name="tres" id="dot-12"value="4"required>
                    <span class="gender-titel">¿Se analizaron los temas de tu interes?</span>
                    <div class="category">
                        <label for="dot-9">
                            <span class="dot n9"></span>
                            <span class="gender">Siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-10">
                            <span class="dot n10"></span>
                            <span class="gender">Casi siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-11">
                            <span class="dot n11"></span>
                            <span class="gender">Algunas veces</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-12">
                            <span class="dot n12"></span>
                            <span class="gender">Nunca</span>
                        </label>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="cuatro" id="dot-13"value="1"required>
                    <input type="radio" name="cuatro" id="dot-14"value="2"required>
                    <input type="radio" name="cuatro" id="dot-15"value="3"required>
                    <input type="radio" name="cuatro" id="dot-16"value="4"required>
                    <span class="gender-titel">¿Se llevo un orden y estructura en cuanto a los temas presentados?</span>
                    <div class="category">
                        <label for="dot-13">
                            <span class="dot n13"></span>
                            <span class="gender">Siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-14">
                            <span class="dot n14"></span>
                            <span class="gender">Casi siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-15">
                            <span class="dot n15"></span>
                            <span class="gender">Algunas veces</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-16">
                            <span class="dot n16"></span>
                            <span class="gender">Nunca</span>
                        </label>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="cinco" id="dot-17"value="1"required>
                    <input type="radio" name="cinco" id="dot-18"value="2"required>
                    <input type="radio" name="cinco" id="dot-19"value="3"required>
                    <input type="radio" name="cinco" id="dot-20"value="4"required>
                    <span class="gender-titel">¿Fue posible clarificar tus dudas sobre las materias?</span>
                    <div class="category">
                        <label for="dot-17">
                            <span class="dot n17"></span>
                            <span class="gender">Siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-18">
                            <span class="dot n18"></span>
                            <span class="gender">Casi siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-19">
                            <span class="dot n19"></span>
                            <span class="gender">Algunas veces</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-20">
                            <span class="dot n20"></span>
                            <span class="gender">Nunca</span>
                        </label>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="seis" id="dot-21"value="1"required>
                    <input type="radio" name="seis" id="dot-22"value="2"required>
                    <input type="radio" name="seis" id="dot-23"value="3"required>
                    <input type="radio" name="seis" id="dot-24"value="4"required>
                    <span class="gender-titel">¿Notaste una mejoria en tus conocimientos durante las sesiones?</span>
                    <div class="category">
                        <label for="dot-21">
                            <span class="dot n21"></span>
                            <span class="gender">Siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-22">
                            <span class="dot n22"></span>
                            <span class="gender">Casi siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-23">
                            <span class="dot n23"></span>
                            <span class="gender">Algunas veces</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-24">
                            <span class="dot n24"></span>
                            <span class="gender">Nunca</span>
                        </label>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="ocho" id="dot-25"value="1"required>
                    <input type="radio" name="ocho" id="dot-26"value="2"required>
                    <input type="radio" name="ocho" id="dot-27"value="3"required>
                    <input type="radio" name="ocho" id="dot-28"value="4"required>
                    <span class="gender-titel">¿Las sesiones te ayudaron a mejorar tu desempeño academico?</span>
                    <div class="category">
                        <label for="dot-25">
                            <span class="dot n25"></span>
                            <span class="gender">Siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-26">
                            <span class="dot n26"></span>
                            <span class="gender">Casi siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-27">
                            <span class="dot n27"></span>
                            <span class="gender">Algunas veces</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-28">
                            <span class="dot n28"></span>
                            <span class="gender">Nunca</span>
                        </label>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="nueve" id="dot-29" value="1"required>
                    <input type="radio" name="nueve" id="dot-30" value="2"required>
                    <input type="radio" name="nueve" id="dot-31" value="3"required>
                    <input type="radio" name="nueve" id="dot-32" value="4"required>
                    <span class="gender-titel">¿Recomendarias la asesoria a otros estudiantes?</span>
                    <div class="category">
                        <label for="dot-29">
                            <span class="dot n29"></span>
                            <span class="gender">Siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-30">
                            <span class="dot n30"></span>
                            <span class="gender">Casi siempre</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-31">
                            <span class="dot n31"></span>
                            <span class="gender">Algunas veces</span>
                        </label>
                    </div>
                    <div class="category">
                        <label for="dot-32">
                            <span class="dot n32"></span>
                            <span class="gender">Nunca</span>
                        </label>
                    </div>
                </div>
                <div class="gender-details">
                    <span class="gender-titel">Describe brevemente tu opinion sobre la asesoria</span>
                    <div class="category">
                        <input type="text" name="respuesta" id="" placeholder="respuesta" required>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Enviar">
                </div>
            </div>
        </form>
    </div>

{%endblock%}

