<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block estilos_reg %}
	{% endblock %}

    {% block estilos_login %}
	{% endblock %}

    <title>Document</title>
</head>
<body>
    <header>
        <figure class="logoTecNM">
            <img src="../../static/img/registros/headerHalcon.svg" alt="Logo TecNM">
            <figcaption>Tecnologico Jiquilpan</figcaption>
        </figure>
        <figure class="logoHalcon">
            <img src="../../static/img/registros/logoHalcon.svg" alt="Logo Halcones Community">
            <figcaption class="logoHalcon">Halcones Community</figcaption>
        </figure>
        <div class="head_botones">
           <a href="#" id="menunotif"><img src="../../static/img/registros/notifi.png" alt="icono notificacion"></a>
           <a href="#" id="menuh"><img src="../../static/img/registros/menuham.png" alt="icono menu"></a>
           <div class="notificaciones inactive">
                <p>Mis Notificaciones</p>
                <div>
                    <img src="../../static/img/registros/clock.png" alt="icono tiempo">
                    <p>Tu asesoria esta por comenzar</p>
                    <p>12:00 -- 01:00pm</p>
                </div>
                <div>
                    <img src="../../static/img/registros/group.png" alt="icono personas">
                    <p>Se han unido nuevos alumnos</p>
                </div>
                <div>
                    <img src="../../static/img/registros/calendar.png" alt="icono calendario">
                    <p>Proxima Asesoria</p>
                    <p>Martes 12:00 -- 01:00pm</p>
                </div>
                <input type="button" value="Borrar">
           </div>
           <div class="menu_mobile inactive">
            <p>Menu Navegacion</p>
            <nav >
                <ul>
                   <li><a href="html/mobInicio.html"><img src="../../images_isra/inicio.png" alt="icono inicio">Inicio</a></li>
                   <li><a href="html/asesorias.html"><img src="../../images_isra/asesor.png" alt="icono Asesorias"> Asesorias</a></li>
                   <li><a href="#"><img src="../../static/img/registros/evalua.png" alt="icono Evaluacion"> Evaluacion</a></li>
                   <li><a href="#"><img src="../../static/img/registros/estats.png" alt="icono Estadistica"> Estadistica</a></li>
                   <li><a href="#"><img src="../../static/img/registros/notifi.png" alt="icono notificacion"> Avisos</a></li>
                   <li><a href="#"><img src="../../static/img/registros/configu.png" alt="icono configu"> Configurar</a></li>
                   <li><a href="#"><img src="../../static/img/registros/Salir.png" alt="icono salir"> Salir</a></li>
                </ul>
            </nav>
        </div>

        </div>
    </header>


    <div class="menuAside">
        <aside id="asideMenu">
            <div class="content_aside">
                <figure class="imgLogo">
                    <img src="../../static/img/registros/logoHalcon.svg" alt="Logo Halcones Community">
                    <figcaption>Halcones Community</figcaption>
                    <canvas id="canLogo" width="200px" height="5px"></canvas>
                    <h2>Tecnológico de Jiquilpan</h2>
                    <div class="logoITJ">
                        <img src="../../static/img/registros/logoITJ.svg" alt="Logo Halcones Community">
                    </div>

                    <div class="SGAA">
                        <figcaption>Sistema Gestor<br>Asesorias Académicas</figcaption>
                    </div>

                </figure>
            </div>

            <nav>
                <ul>
                   <li><a href="html/mobInicio.html"><img src="static/img/registros/inicio.png" alt="icono inicio">Inicio</a></li>
                   <li><a href="html/asesorias.html"><img src="static/img/registros/asesor.png" alt="icono Asesorias"> Asesorias</a></li>
                   <li><a href="#"><img src="../../static/img/registros/evalua.png" alt="icono Evaluacion"> Evaluacion</a></li>
                   <li><a href="#"><img src="../../static/img/registros/estats.png" alt="icono Estadistica"> Estadistica</a></li>
                   <li><a href="#"><img src="../../static/img/registros/notifi.png" alt="icono notificacion"> Avisos</a></li>
                   <li><a href="#"><img src="../../static/img/registros/configu.png" alt="icono configu"> Configurar</a></li>
                   <li><a href="#"><img src="../../static/img/registros/Salir.png" alt="icono salir"> Salir</a></li>
                </ul>
            </nav>
            <div class="Our_Networks">
                <p>Nuestras Redes</p>
                <canvas width="150px" height="5px" id="can_Network"></canvas>
                <figure class="figimg">
                    <a href="#"><img src="../../static/img/registros/facebook.png" alt="icono facebook"></a>
                    <a href="#"><img src="../../static/img/registros/mindBx.png" alt="icono Mindbox"></a>
                    <a href="#"><img src="../../static/img/registros/moodle.png" alt="icono moodle"></a>
                    <a href="#"><img src="../../static/img/registros/Whats.png" alt="icono whatsApp"></a>
                </figure>
            </div>

        </aside>
    </div>

    {% block formulario %}

	{% endblock %}

    {% block login %}

	{% endblock %}

    <footer>
        <div class="redes">
         <p>Nuestras Redes</p>
         <figure>
         <img src="../../static/img/registros/iconMoodle.svg" alt="icono moodle">
         <img src="../../static/img/registros/iconFacebook.svg" alt="icono facebook">
         <img src="../../static/img/registros/iconMindbox.svg" alt="icono mindbox">
         <img src="../../static/img/registros/iconInternet.svg" alt="icono webITJ">
         </figure>

     </div>
     <div class="contacto">
         <p>Contactanos</p>
         <div>
        <p class="ourMail">SGAA2022@JIQUILPAN.TECNM.MX</p>
         <img src="../../static/img/registros/iconEmail.svg" alt="icon msg">
         </div>

     </div>
     </footer>


</body>
{% block script %}
{% endblock %}

<!-- <script src="/javaScript/js_inicio.js"></script> -->
</html>